*.db
*.suo
*.pdb
*.user
*/*/*/Debug/*
*/*/*/Release/*
*/*/Debug/*
*/*/Release/*
*/*/*/ReadMe.txt
Learning-OpenCV-3_examples/chapter02/example_02-11/.vs/example_02-11/v15/ipch/AutoPCH/4bbe2fc03b797a84/EXAMPLE_02-11.ipch
Learning-OpenCV-3_examples/chapter02/example_02-04/example_02-04.VC.VC.opendb
